body {
    background: rgb(220, 220, 245);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    min-width: 200px;
    margin: 50px auto;
}

.box {
    background-color: hotpink;
    max-width: 32.5%;
    min-width: 32.4%;
    height: 33.5%;
    font-size: 30px;
}

.restart {
    border: 2px solid black;
    margin: auto;
    /* height: 50px; */
}

button#restart {
    /* width: 50px; */
    font-size: 20px;
}

.active {
    background: rgb(14, 233, 149);
}

.div-player {
    display: flex;
    justify-content: space-around;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
#winner {
    text-align: center;
    color: rgb(245, 45, 10);
    animation: blink 1.5s infinite;
}

#nextPlayer{
    text-align: center;
    color: blue;
}
